{% extends 'applications/base.html' %}

{% load static %}

{% block content %}

<div class="app-entry">
    <h2><strong>About the {{ app.title }} application</strong></h2>
    <p>{{ app.body|linebreaksbr }}</p>
</div>

    {% if user.is_authenticated %}
        <p><a href="{% url 'app_edit' app.pk %}"><input type="submit" value="Edit" class="button"></a></p>
        <p><a href="{% url 'app_delete' app.pk %}"><input type="submit" value="Delete" class="button"></a></p>
    {% endif %}
{% endblock content %}