{% extends 'applications/navbar.html' %}

{% load static %}

{% block page_content %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
        <link href="{% static 'css/applications/base.css' %}?{% now 'U' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home_applications' %}">Home</a></h1>
                </div>
                <div class="nav-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'app_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %}
                </div>
            </header>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
{% endblock %}