{% extends 'cv/base.html' %}

{% block content %}

    {% for card in object_list %}
<div class="page">
        <div class="card-entry">
            <div class="title">
                {% if user.is_authenticated %}
                <a href="{% url 'card_detail' card.pk %}"><h2>{{ card.title }}</h2></a>
                {% else %}
                <h2>{{ card.title }}</h2>
                {% endif %}
            </div>
            <p>{{ card.body|safe }}</p>
        </div>
</div>
    {% endfor %}
{% endblock content %}