<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>About CV</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}?{% now 'U' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
	<link rel="icon" href="{% static 'img/home/web.png' %}">
	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}
	</style>
</head>
<body>
	<div class="nav-wrapper">
		<a href="{% url 'index' %}">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

	</div>
<section class="s1">
	<div class="main-container">
		<div id="border">
			<h1>About CV</h1>
        </div>
		<br>
		<p>The main purpose of the coursework was to create a CV. I had some difficulty thinking about the design at first.</p>
		<p>I followed the same approach and mechanisms of the blog application.</p>
		<p>The only difference in the CV application is that I added an RTF (Rich-text field) editor called CKeditor.</p>
		<p>This editor is compatible with Django, and the reason I added it because it contains tools where I can align and change the text.</p>
		<p>In addition, instead of adding 'posts', I call each block of information a 'card'. I can use the 'CRUD' mechanism on cards.</p>
		<br>

		<h5>Technologies</h5>
		<ul>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- Pythonanywhere</li>
			<li>- Javascript</li>
		</ul>

		<h5>Tests</h5>
		<p>Testing the CV application is very similar to testing the Blog application. They both have a similar model.</p>

		<h5>Accessing the Project</h5>
		<p>The actual project can be accessed from the homepage as shown below in the image</p>
		<div class="img-container">
			<img src="{% static 'img/cv/access.png' %}">
		</div>

		<h5>Admin Panel</h5>
		<p>This feature is not shown to default users. I can add new cards</p>
		<div class="img-container">
			<img src="{% static 'img/cv/admin.png' %}">
		</div>

		<h5>Adding Cards</h5>
		<p>The model uses three variables. Namely, title, author, and body</p>
		<div class="img-container">
			<img src="{% static 'img/cv/new_card.png' %}">
		</div>

		<h5>Detail Cards</h5>
		<p>As an admin, I can click on a card and either update it or delete it</p>
		<div class="img-container">
			<img src="{% static 'img/cv/detail_card.png' %}">
		</div>

		<h5>Editing Cards</h5>
		<p>A demonstration of the edit panel</p>
		<div class="img-container">
			<img src="{% static 'img/cv/edit_card.png' %}">
		</div>

		<h5>Deleting Cards</h5>
		<p>A demonstration of the delete panel</p>
		<div class="img-container">
			<img src="{% static 'img/cv/delete_card.png' %}">
		</div>
	</div>
</section>

		<script>
		console.log('Its working')

		let theme = localStorage.getItem('theme')

		if (theme == null) {
			setTheme('light')
		} else {
			setTheme(theme)
		}

		let themeDots = document.getElementsByClassName('theme-dot')


		for (var i = 0; themeDots.length > i; i++) {
			themeDots[i].addEventListener('click', function () {
				let mode = this.dataset.mode
				console.log('Option clicked:', mode)
				setTheme(mode)
			})
		}

		function setTheme(mode) {
			if (mode == 'light') {
				document.getElementById('theme-style').href = "{% static 'css/default.css' %}?{% now 'U' %}"
			}

			if (mode == 'blue') {
				document.getElementById('theme-style').href = "{% static 'css/blue.css' %}?{% now 'U' %}"
			}

			if (mode == 'green') {
				document.getElementById('theme-style').href = "{% static 'css/green.css' %}?{% now 'U' %}"
			}

			if (mode == 'purple') {
				document.getElementById('theme-style').href = "{% static 'css/purple.css' %}?{% now 'U' %}"
			}

			localStorage.setItem('theme', mode)
		}
	</script>
</body>
</html>