body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-style: solid;
    border-color: #030303;
    border-width: 4px;
    background: -webkit-linear-gradient(left, #097100, #4aa804, #60cb05, #abf1a6);
    margin-bottom: 6rem;
    display: flex;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-decoration: none;
}

header h1 a {
    color: #ffffff;
    font-size: 70px;

}

.nav-left {
    margin-right: auto;
}

.nav-left a {
    text-decoration: none;
}

.nav-left a:hover{
    color: #000000;
}

.nav-right a:hover {
    color: #000000;
}

.nav-right a {
    display: flex;
    padding-top: 2rem;
    color: white;
    font-size: 70px;
    text-decoration: none;
}

.post-entry {
    margin-bottom: 5rem;
}

.post-entry h2 {
    margin-bottom: 3rem;
}

.post-entry h2 a, .post-entry h2 a:visited {
    color: #000000;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: #00ba00;
}

.content {
    margin-left: 70px;
}

.button {
    color: black;
    width: 5em;  height: 2em;
}

.secret {
    color: white;
}

.secret h3 a:hover {
    color: white;
}